#floattargetcan{
	position: fixed;
    bottom: 15px;
    right: 65px;
    z-index: 999;
}
#floattargetcan #btnCan{
	border:1px solid grey;
}
#floattargetcan .floatFunMultiPopBtn{
	width: 43px;
	height: 43px;
	text-align: center;
	margin-top: 2px;
}

#floattargetcan .floatFunService{
	margin-top: 2px;
	text-align: center;
	width: 43px;
	height: 43px;
}

#floattargetcan .floatFunProductCan{
	width: 317px;
	position: absolute;
	top: -260px;
	right: -25px;
	border: 1px solid gray;
	background:#4d575d;
	display: none;
	border-radius: 9px;
	top: -204px;
    
    padding: 26px 0 26px 0;
}
#floattargetcan .floatFunProductArraw{
	width: 10px;
    height: 10px;
    position: absolute;
    bottom: -6px;
    right: 41px;
    background: #4d575d;
    transform: rotate(45deg);
}
#floattargetcan .allProductBtn{
	margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}
#floattargetcan .allProductBtn a{
	text-decoration: none;
}
#floattargetcan .floatFunProductCell{
	height: 65px;
    padding: 10px 0 0 0;
    float: left;
    padding-bottom: 16px;
    padding-left: 38px;
    background: none;
    text-align: center;
}

#floattargetcan .floatFunProductCell span{
	color:#fff;
	line-height: 30px;
    font-size: 13px;
    text-align: center;
}

#floattargetcan .floatFunProductCellIn{
	width: 58px;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 0 0;
    border-radius: 8px;
    font-size: 14px;
    line-height: 21px;
    box-sizing: content-box;
    cursor:pointer;
}
#floattargetcan .floatFunProductCellIn a{
	text-decoration: none;
	color: white;
}

#floattargetcan .floatFuncrm6{
	background: #445264;
}

#floattargetcan .floatFuncrm7{
	background: #1e66c7;
}

#floattargetcan .floatFuncrm6cloud{
	background: #42b77c;
}
.floatFunProductCell.active{
	background: #f1f1f3;
}

#floatFunProductMark {
	position: absolute;
    opacity: 0.4;
    background: #000;
    width: 213px;
    height: 101px;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
}

.remodal-overlay{
	opacity: 0.8;
	background-color: #fff;
}

.remodal {
    border: 1px solid #eaeaea;
    width: 598px;
    box-shadow: 0px 6px 13px -6px #000000;
}

.remodal-close {
	right: 0;
	left:auto;
}

.remodal-title{
	position: absolute;
    top: 0;
    left: 0;
    line-height: 56px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 0 28px;
}
#remodal-rectangle{
	width: 64px;
    height: 64px;
    background: linear-gradient(45deg ,#0389d9 , #23d44a);
    margin: 20px auto 0 auto;
    border-radius: 15px;
}
#remodal-name{
	font-size: 14px;
	color:#333;
}
#remodal-info{
	width: 420px;
    margin: 35px auto 0 auto;
    height: 36px;
    border: 1px solid #ebf2fb;
    background: #f5f9ff;
    font-size: 12px;
    color: #666;
    text-align: left;
    line-height: 36px;
    padding: 0 0 0 15px;
}
.remodal-inputcell {
    width: 400px;
    margin:20px auto 0 auto;
}
.remodal-inputcell div {
    float: left;
    font-size: 12px;
    color: #666;
    line-height: 34px;
}
.remodal-inputcell:after {
    content: "";
    display: block;
    clear: both;
}
.remodal-left {
    width: 15%;
}
.remodal-right {
    width: 85%;
    text-align: left;
}
.remodal-right input{
	width: 330px;
    height: 34px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #dcdcdc;
}
.remodal-confirm {
    margin: 30px 0 0 0;
    background: #4287e5;
    border: 1px solid #316fc2;
    min-width: 50px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 4px;
    font-size: 12px;
}
.remodal-confirm:hover{
	background: #357ebd;
}
.remodal-cancel {
    margin: 30px 0 0 0;
    background: #fff;
    border: 1px solid #dcdcdc;
    color:#666666;
	min-width: 50px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 4px;
    font-size: 12px;
}
.remodal-cancel:hover{
	background: #e6e6e6;
}
#floattargetcan .canyin7operate{
    position: absolute;
    bottom: 12px;
    right: 20px;
    font-size: 12px;;
}
#floattargetcan .canyin7operate:after {
    content: ' ';
    display: block;
    clear: both;
}
#floattargetcan .canyin7operate .canyin7function{
    color:#bcbcbc;
    text-decoration: underline;
    cursor: pointer;
}