#floattargetcan{
	position: fixed;
    bottom: 15px;
    right: 65px;
}
#floattargetcan #btnCan{
	border:1px solid grey;
}
#floattargetcan .floatFunMultiPopBtn{
	width: 43px;
	height: 43px;
	text-align: center;
	margin-top: 2px;
}

#floattargetcan .floatFunService{
	margin-top: 2px;
	text-align: center;
	width: 43px;
	height: 43px;
	border-bottom: 1px solid grey;
}

#floattargetcan .floatFunProductCan{
	width: 317px;
	position: absolute;
	top: -260px !important;
	right: -25px;
	padding: 10px 0;
	border: 1px solid gray;
	background:#4d575d;
	display: none;
	border-radius: 9px;
	top: -204px;
    display: block;
    padding: 26px 0 26px 0;
}
#floattargetcan .floatFunProductArraw{
	width: 10px;
    height: 10px;
    position: absolute;
    bottom: -6px;
    right: 41px;
    background: #4d575d;
    transform: rotate(45deg);
}
#floattargetcan .allProductBtn{
	margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}
#floattargetcan .allProductBtn a{
	text-decoration: none;
}
#floattargetcan .floatFunProductCell{
	height: 65px;
    padding: 10px 0 0 0;
    float: left;
    padding-bottom: 16px;
    padding-left: 38px;
}

#floattargetcan .floatFunProductCell span{
	color:#fff;
	line-height: 30px;
    font-size: 13px;
    text-align: center;
}

#floattargetcan .floatFunProductCellIn{
	width: 55px;
    height: 55px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 21px;
}
#floattargetcan .floatFunProductCellIn a{
	text-decoration: none;
	color: white;
}

#floattargetcan .floatFuncrm6{
	background: #445264;
}

#floattargetcan .floatFuncrm7{
	background: #1e66c7;
}

#floattargetcan .floatFuncrm6cloud{
	background: #42b77c;
}
.floatFunProductCell.active{
	background: #f1f1f3;
}

#floatFunProductMark {
	position: absolute;
    opacity: 0.4;
    background: #000;
    width: 213px;
    height: 101px;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
}